*{
	font-family:Arial;
	line-height:1.5;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.main{
	margin:  5px;
	background-color: aqua;
	border: solid 1px green;
}

.aside{
	width: 200px;
	display: inline-block;
	background-color: aqua;
	float:left;
}

.upperLeftAside{
    background-color: bisque;
	height:85px;
	padding-left:20%;
	padding-top:5%;
	padding-bottom:5%;
}

.article{
	background-color: darkgray;
	margin-left:200px;
}
img {
	float:right;
	width:40%;
	height:60%;
}

.text2{
	clear:both;
	
}