*{
	font-family:Arial;
	line-height:1.5;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.main{
	margin-left: 31%;
	margin-right: 31%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
	padding: 0px 0px 0px 0px;
    color:white;
	font-size:0.8em;
}

.firstBlock{
	background-color:green;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	
}

.secondBlock{
	background-color:blue;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.red_text_italic{
 color:red;	
 font-style:italic;
}